# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env
/.env.*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore database files
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore node_modules
/node_modules

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore byebug history
.byebug_history

# Ignore editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Ignore Mac files
.DS_Store

# Ignore test coverage
/coverage/
